<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1>You are awesome!</h1>
				<p>My name is Matt Rosinski and I'm the founder and CEO of 
				Loudfruit.  I built this project for <a href="http://
				onemonth.com/courses.one-month-python">One Month Python</a>.
					{% if name %}
                    	<h2>What do you want to do today {{ name }}?</h2>
                	{% else %}
                    	<h2>What do you want to do today?</h2>
                	{% endif %}
				</p>
				<a href="{{ url_for('index') }}">Go to Home Page</a>

			</div>
		</div>
	</body>
</html>